* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #323660;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 50px;
}

.image {
    display: flex;
    justify-content: center;
    width: 100px;
}

.image img {
    width: 250px;
}

.welcome {
    width: 90%;
    background-image: linear-gradient(to bottom, #e7d182, #f9c818);
    height: 4rem;
    text-align: center;
    border-radius: 15px;
}

.welcome p {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 900;
}

.features {
    margin-top: 30px;
    align-items: center;
}

h1 {
    margin-top: 30px;
    margin-left: 5%;
    font-size: 1.4rem;
}

.functions {
    width: 90%;
    height: 42vh;
    background-color: #F5F5F5;
    border-radius: 15px;
    display: flex;
    align-content: start;
    flex-wrap: wrap;
}

.box {
    width: 25%;
    height: 80px;
    background-image: linear-gradient(to bottom, #e7d182, #f9c818);
    margin: 5% 4%;
    text-align: center;
    border-radius: 15px;
}

.box p {
    font-size: 0.8rem;
    font-weight: 900;
}

.box img {
    margin-top: 10px;
    width: 50%;
    height: 50%;
}