@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #323660;
}

/* HEAD */

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fcce22;
}

.heading {
    background-color: #fcce22;
    height: 13vh;
    text-align: center;
    width: 100%;
}

.heading p {
    margin-top: 28px;
    margin-left: 20px;
    font-size: 1.7rem;
    font-weight: 800;
}

.name {
    margin-top: 20px;
    text-align: center;
}

.fa-solid {
    font-size: 2.2rem;
    position: relative;
}

.fa-arrow-left {
    top: 55%;
    left: -40%;
}

/* CHECK */

.check {
    width: 55px;
    height: 50px;
    position: relative;
    top: 55px;
    background-color: #fcce22;
    border-radius: 50%;
}

.check img {
    width: 100%;
}

/* CONTENT */

.content {
    width: 80%;
    height: 45vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
    border-radius: 20px;
    margin-top: 2rem;
}

.image {
    width: 130px;
}

.image img {
    width: 100%;
}

.amount {
    border-top: 2px solid #323660;
    border-bottom: 2px solid #323660;
    margin-top: 3rem;
    width: 80%;
}

.amount p {
    font-size: 1.1rem;
    font-weight: 800;
    margin-top: 1rem;
    margin-bottom: .5rem;
    text-align: center;
}

.ref {
    margin-top: 2rem;
    text-align: center;
}

.ref p {
    margin-top: 1rem;
    font-weight: 800;
}

.download {
    width: 50%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}

.dl-image {
    width: 50px;
}

.dl-image img {
    width: 100%;
    opacity: .5;
}